
{% extends 'layout.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
<h2>Browse Profiles</h2>
<div>
    <p>Here's a profile of a user you haven't interacted with yet:</p>





  {% if user %}
    <div class="profile-card">

  {% if user['file_locale'] %}
        <div class="profile-photo">
            <img src="{{ url_for('static', filename='profile_photos/' + user['file_locale']) }}" alt="{{ user['first_name'] }}'s Profile Photo" style="width: 300px; h$
        </div>
	{% endif %}



        <h3>{{ user['first_name'] }} {{ user['last_name'] }}</h3>
        <table>
            <tr>
                <td>Age:</td>
                <td>{{ user['age'] }} years old</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{ user['city'] }}, {{ user['state'] }}</td>
            </tr>
        </table>
        <form method="post" action="{{ url_for('browse') }}">
            <input type="hidden" name="user_id" value="{{ user['user_ID'] }}">
            <button type="submit" name="status" value="like">Like</button>
            <button type="submit" name="status" value="dislike">Dislike</button>
            <button type="submit" name="status" value="block">Block</button>
        </form>
    </div>
    {% else %}
    <p>No more profiles to browse at this time. Check back later!</p>
    {% endif %}
</div>
<div>
    <a href="{{ url_for('profile') }}">Back to Profile</a>
</div>
{% endblock %}


