<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit Profile</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Complete Profile</h1>
			<div class="links">
				<a href="{{ url_for('home') }}">Home</a>
				<a href="{{ url_for('complete_profile') }}" class="active">Complete Profile</a>
				<a href="{{ url_for('logout') }}">Logout</a>
			</div>
			<form action="{{ url_for('complete_profile') }}" method="post" autocomplete="off">
				<h4 style="width: 100%; padding-left: 10px; margin-top: 0; margin-bottom: 0">First Name:</h4>
				<input type="text" name="firstName" placeholder="First Name" id="firstName" value="{{ user['first_name'] }}" autofocus required>

				<h4 style="width: 100%; padding-left: 10px; margin-top: 0;  margin-bottom: 0">Last Name:</h4>
				<input type="text" name="lastName" placeholder="Last Name" id="lastName" value="{{ user['last_name'] }}" required>

				<h4 style="width: 100%; padding-left: 10px; margin-top: 0; margin-bottom: 0">City, State:</h4>
				<input type="text" name="city" placeholder="City" id="city" value="{{ user['city'] }}" style="width: 50%" required>
					<select name="state" id="state" required>
						{% for state in states %}
                    		{% if state['state'] == user['state'] %}
                        		<option value="{{ state['state'] }}" selected>{{ state['state'] }}</option>
                    		{% else %}
                        		<option value="{{ state['state'] }}">{{ state['state'] }}</option>
                    		{% endif %}
                	{% endfor %}
					</select>

				<h4 style="width: 100%; padding-left: 10px; margin-top: 0; margin-bottom: 0">Birthday, Gender:</h4>
				<input type="date" name="birthday" placeholder="Birthday (YYYY-MM-DD)" id="birthday" value="{{ user['birthday'] }}" required>
				<select name="gender" id="gender" required>
					{% for gender in genders %}
						{% if gender['gender_ID'] == user['gender_ID'] %}
							<option value="{{ gender['gender_ID'] }}" selected>{{ gender['name'] }}</option>
						{% else %}
							<option value="{{ gender['gender_ID'] }}">{{ gender['name'] }}</option>
						{% endif %}
					{% endfor %}
				</select>

				<h4 style="width: 100%; padding-left: 10px; margin-top: 0; margin-bottom: 0">Bio</h4>
				<textarea name="bio" placeholder="Write about yourself!" id="bio" required style="width: 95%; height: 150px;">{{ user['bio'] }}</textarea>

				

				<h4 style="width: 100%; padding-left: 10px; margin-top: 0; margin-bottom: 0">Hobbies:</h4>
				{% for hobby in hobbies %}
				<div style="padding-right: 6%;">
        			<input type="checkbox" name="hobbies" value="{{ hobby['hobby_name'] }}"
            		{% if hobby['hobby_name'] in user_hobbies|map(attribute='hobby_name') %} 
						checked 
					{% endif %}
					>{{ hobby['hobby_name'] }} <br/>
				</div>
				{% endfor %}

				{% for photo in photos %}
				<div>
    				<p>Photo {{ photo['photo_pos'] }}:</p>
    				<input type="file" name="{{ user['user_ID'] }}_{{ photo['photo_pos'] }}" id="image{{ photo['photo_pos'] }}" accept=".jpg">
					<button type="button" onclick="clearFile('image1')">Clear</button>
				</div>
				{% endfor %}

				{% if photos|length < 1 %}
				<div>
    				<p>Photo 1:</p>
    				<input type="file" name="{{ user['user_ID'] }}_1" id="empty_image1" accept=".jpg">
					<button type="button" onclick="clearFile('empty_image1')">Clear</button>
					</div>
				{% endif %}

				{% if photos|length < 2 %}
				<div>
    				<p>Photo 2:</p>
    				<input type="file" name="{{ user['user_ID'] }}_2" id="empty_image2" accept=".jpg">
					<button type="button" onclick="clearFile('empty_image2')">Clear</button>
					</div>
				{% endif %}

				{% if photos|length < 3 %}
				<div>
    				<p>Photo 3:</p>
    				<input type="file" name="{{ user['user_ID'] }}_3" id="empty_image3" accept=".jpg">
					<button type="button" onclick="clearFile('empty_image3')">Clear</button>
					</div>
				{% endif %}

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Complete Profile">
			</form>
		</div>
	</body>
</html>

<script>
	function clearFile(input) {
        var input = document.getElementById(input);
        input.value = '';
    }
</script>