{% extends 'layout.html' %}

{% block title %}Matches{% endblock %}

{% block content %}
<h2>Your Matches</h2>
<div>
    <p>Here are the profiles of users that liked you and you liked back:</p>
    <div class="grid-container">
        {% for match in matches %}
        <div class="profile-card">
            <h3>{{ match['first_name'] }} {{ match['last_name'] }}</h3>
            <table>
                <tr>
                    <td>Age:</td>
                    <td>{{ match['age'] }} years old</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>{{ match['city'] }}, {{ match['state'] }}</td>
                </tr>
            </table>
              <form method="post" action="{{ url_for('unmatch', user_id=match['user_ID']) }}">
                <button type="submit">Unmatch</button>
            </form>
             </div>
        {% endfor %}
    </div>
</div>
<div>
    <a href="{{ url_for('profile') }}">Back to Profile</a>
</div>
{% endblock %}
